{% extends '1mainpage.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h1 class="page-header text-info">{{ user.nameInFull }}</h1>
            </div> 
            <div class="col-lg-1"></div>          
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>

                                    <tr>
                                        <th>Full Name</th>
                                        <td>{{ user.nameInFull }}</td>
                                    </tr>
                                    <tr>
                                        <th>Name in Initials</th>
                                        <td>{{ user.nameInInitials}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Username</th>
                                        <td>{{ user.username }}</td>
                                    </tr>
                                    <tr>
                                        <th>Sex</th>
                                        <td>{{ user.sex}}</td>
                                    </tr>
                                                                       
                                </tbody>
                            </table>
                            <div class="box-footer">
                                <a class="btn btn-info pull-right" href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
                                {{ form_start(delete_form) }}
                                    <input type="submit" class="btn btn-danger pull-right" value="Delete">
                                {{ form_end(delete_form) }}

                             </div>
                                
                            </div>

                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>
    <br><br><br><br>

{% endblock %}