{% extends 'base.html.twig' %}

{% block body %}
    <h1>Privillege</h1>

    <table>
        <tbody>
            <tr>
                <th>Privillege</th>
                <td>{{ privillege.privillege }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ privillege.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ privillege.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('privillege_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('privillege_edit', { 'id': privillege.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
