{% extends 'userbase.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-primary">Dashboard</h1>
            </div>
            
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Home</a>
                </li>
                <li><a href="#HotelRequests" data-toggle="tab">Hotel Requests <span class="badge">{{hotelrequests|length}}</span></a>
                </li>
                <li><a href="#Comments" data-toggle="tab">Comments <span class="badge">{{comments|length}}</span></a>
                </li>
                <li><a href="#settings" data-toggle="tab">Settings</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <br><br>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{comments|length}}</div>
                                            <div>New Comments!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#Comments">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-home fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{hotelrequests|length}}</div>
                                            <div>New Hotel Requests!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-user fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">124</div>
                                            <div>New Users!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-plane fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">13</div>
                                            <div>New Places!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="HotelRequests">
                    <br><br>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Hotel Contact Person</th>
                                    <th>Email</th>
                                    <th>Telephone</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for hotelrequest in hotelrequests %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{hotelrequest.name_in_full}}</td>
                                        <td>{{hotelrequest.email}}</td>
                                        <td>{{hotelrequest.telephone}}</td>
                                        <td>
                                            <a class="btn btn-info" href="{{ path('acceptH', { 'email': hotelrequest.email }) }}">Accept</a>
                                            <a class="btn btn-danger btn-outline" href="{{ path('deleteH', { 'email': hotelrequest.email }) }}">Reject</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="Comments">
                    <br><br>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Subject</th>
                                    <th>Message</th>
                                    <th>Telephone</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comment in comments %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{comment.name}}</td>
                                        <td>{{comment.email}}</td>
                                        <td>{{comment.subject}}</td>
                                        <td>{{comment.message}}</td>
                                        <td>{{comment.telephone}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('public/main/tuto/jquery-latest.min.js') }}"></script>
    <script src="{{ asset('public/main/tuto/acceptH.js') }}"></script>
    <script>
        var ROOT_URL = "{{ url('app1_example_homepage')}}"; 
    </script>
{% endblock %}