{% extends 'userbase.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-primary">All Hotels
                <a class="btn btn-outline btn-info pull-right" href="{{ path('hotel_new') }}">Create New</a></h1>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-12">
            
                {% for hotel in hotels %}
                    <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">   
                                        <img src="{{asset(hotel.path)}}" width="275" height="275">
                                        <p class="lead text-center text-primary" >{{ hotel.name }}</p>
                                        <p><a href="{{ hotel.website }}">{{ hotel.website }}</a></p>
                                        <p><a href="mailto:{{ hotel.email }}">{{ hotel.email }}</a></p>
                                        
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-block btn-info" href="{{ path('hotel_show', { 'id': hotel.id }) }}">View Details  <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

            